version 2/flows/noderedflow_pi_31.10.2019.json
[{"id":"a12ca12a.fe2f8","type":"tab","label":"Distributed Storage System - Pi","disabled":false,"info":""},{"id":"24d8c4dc.d15a1c","type":"serial in","z":"a12ca12a.fe2f8","name":"scale","serial":"b09e486b.244088","x":90,"y":160,"wires":[["2ef673d7.f019cc"]]},{"id":"7e0aa26d.12301c","type":"ui_gauge","z":"a12ca12a.fe2f8","name":"","group":"5d3f4611.f01608","order":0,"width":0,"height":0,"gtype":"gage","title":"Weight ","label":"grams","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":180,"wires":[]},{"id":"2ef673d7.f019cc","type":"function","z":"a12ca12a.fe2f8","name":"parse raw data","func":"var a = msg.payload;\na = a.replace(/^W:+/i, ''); \na= a.replace('+','');\na = a.substring(0, a.length - 1);\n\nmsg.payload = a;\n\nvar w = msg.payload;\nvar  wf = parseFloat(w);\n\n\nmsg.payload = wf;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["a3106e94.d6f3c"]]},{"id":"d652aa04.e84ad8","type":"ui_text","z":"a12ca12a.fe2f8","group":"5d3f4611.f01608","order":1,"width":0,"height":0,"name":"Article","label":"Article","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":40,"wires":[]},{"id":"d21c5944.419878","type":"debug","z":"a12ca12a.fe2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":320,"wires":[]},{"id":"cccf5c5f.7908e","type":"mqtt out","z":"a12ca12a.fe2f8","name":"","topic":"inv","qos":"","retain":"","broker":"434eadcd.acab24","x":990,"y":240,"wires":[]},{"id":"53d1e863.102608","type":"inject","z":"a12ca12a.fe2f8","name":"","topic":"waschenklammer","payload":"731308","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["54d8c47.e40293c"]]},{"id":"ceb4b3d.d2b825","type":"inject","z":"a12ca12a.fe2f8","name":"","topic":"tintenpatrone","payload":"708763","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[[]]},{"id":"940c2516.399b18","type":"inject","z":"a12ca12a.fe2f8","name":"","topic":"screws","payload":"700555","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[[]]},{"id":"a3106e94.d6f3c","type":"change","z":"a12ca12a.fe2f8","name":"weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["54d8c47.e40293c"]]},{"id":"54d8c47.e40293c","type":"join","z":"a12ca12a.fe2f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":560,"y":240,"wires":[["d21c5944.419878","cccf5c5f.7908e","ad694d7b.a75cb"]]},{"id":"ad694d7b.a75cb","type":"function","z":"a12ca12a.fe2f8","name":"parse inv inf","func":"\nvar msg1= { payload:msg.payload.waschenklammer };\nvar msg2 = { payload:msg.payload.weight };\n\n\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"x":740,"y":120,"wires":[["d652aa04.e84ad8"],["ca82a5b4.447b98","7e0aa26d.12301c"]]},{"id":"ca82a5b4.447b98","type":"ui_text","z":"a12ca12a.fe2f8","group":"5d3f4611.f01608","order":1,"width":0,"height":0,"name":"","label":"Weight","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":100,"wires":[]},{"id":"b09e486b.244088","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"5d3f4611.f01608","type":"ui_group","z":"","name":"Real time ","tab":"7ebaee59.b9787","disp":true,"width":"6","collapse":false},{"id":"434eadcd.acab24","type":"mqtt-broker","z":"","name":"pi","broker":"192.168.0.36","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ebaee59.b9787","type":"ui_tab","z":"","name":"Weight Scale ","icon":"dashboard","disabled":false,"hidden":false}]