version 2/flows/scale_13-10-19.json
[{"id":"a12ca12a.fe2f8","type":"tab","label":"Flow 1"},{"id":"24d8c4dc.d15a1c","type":"serial in","z":"a12ca12a.fe2f8","name":"scale","serial":"b09e486b.244088","x":150,"y":220,"wires":[["2ef673d7.f019cc"]]},{"id":"7e0aa26d.12301c","type":"ui_gauge","z":"a12ca12a.fe2f8","name":"","group":"5d3f4611.f01608","order":0,"width":0,"height":0,"gtype":"gage","title":"Weight ","label":"grams","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":280,"wires":[]},{"id":"2ef673d7.f019cc","type":"function","z":"a12ca12a.fe2f8","name":"","func":"var a = msg.payload;\na = a.replace(/^W:+/i, ''); \na= a.replace('+','');\na = a.substring(0, a.length - 1);\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["7e0aa26d.12301c","d652aa04.e84ad8","c48cbc7e.420c7","d21c5944.419878"]]},{"id":"d652aa04.e84ad8","type":"ui_text","z":"a12ca12a.fe2f8","group":"5d3f4611.f01608","order":1,"width":0,"height":0,"name":"","label":"Weight","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":180,"wires":[]},{"id":"c48cbc7e.420c7","type":"ui_gauge","z":"a12ca12a.fe2f8","name":"","group":"5d3f4611.f01608","order":2,"width":0,"height":0,"gtype":"donut","title":"Pieces","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"d21c5944.419878","type":"debug","z":"a12ca12a.fe2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":320,"wires":[]},{"id":"b09e486b.244088","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"5d3f4611.f01608","type":"ui_group","z":"","name":"Real time ","tab":"7ebaee59.b9787","disp":true,"width":"6","collapse":false},{"id":"7ebaee59.b9787","type":"ui_tab","z":"","name":"Weight Scale ","icon":"dashboard","disabled":false,"hidden":false}]