version 3/flows/05.12/client.json
[{"id":"261423f2.17d6ac","type":"tab","label":"Distributed Storage System - Client","disabled":false,"info":""},{"id":"7c1e1c0c.7aabb4","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":1396.099998474121,"y":178.3000831604004,"wires":[["beedb723.6f0f88"]]},{"id":"9f647589.87fca8","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n//var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number = art$;\";\n//msg.topic = a;\n//return msg;\n\n\nvar a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number =\" + msg.payload;\nmsg.topic = a;\nreturn msg;","outputs":1,"noerr":0,"x":1194.350112915039,"y":167.20002937316895,"wires":[["7c1e1c0c.7aabb4"]]},{"id":"3ff61595.5f814a","type":"mqtt in","z":"261423f2.17d6ac","name":"","topic":"inv","qos":"2","datatype":"auto","broker":"827509a9.b34c28","x":69.85000610351562,"y":36.30000400543213,"wires":[["e343e799.92f008"]]},{"id":"793ab09b.c4758","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1782.5000267028809,"y":86.50000190734863,"wires":[["f6f7e791.a93ac8"]]},{"id":"beedb723.6f0f88","type":"change","z":"261423f2.17d6ac","name":"unit weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"unitweight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1599.5000228881836,"y":176.0000033378601,"wires":[["793ab09b.c4758","2e065168.db19ee"]]},{"id":"d933ebb0.479158","type":"change","z":"261423f2.17d6ac","name":"obtained weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"obtainedweight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1274.6071090698242,"y":84.1786117553711,"wires":[["793ab09b.c4758","ef63b3eb.f9921","53fc005b.17283","e3bf9b8f.7118b8","5c413c30.8a7924"]]},{"id":"f6f7e791.a93ac8","type":"function","z":"261423f2.17d6ac","name":"pieces","func":"var ow = msg.payload[\"obtainedweight\"];\nvar uw = msg.payload[\"unitweight\"][0].unit_weight;\nvar p = ow/uw;\np = Math.round(p);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":1930.6500549316406,"y":86.50000953674316,"wires":[["ad67b33a.1ed64"]]},{"id":"c7dc1a8a.c95ee8","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":4,"width":0,"height":0,"name":"Unit weight","label":"Unit weight","format":"{{msg.payload}}","layout":"row-spread","x":2151.50048828125,"y":828.6428833007812,"wires":[]},{"id":"ef63b3eb.f9921","type":"ui_gauge","z":"261423f2.17d6ac","name":"Current weight","group":"f768ed7a.479fb","order":5,"width":0,"height":0,"gtype":"gage","title":"Current Weight","label":"g","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1576.8929595947266,"y":35.53571319580078,"wires":[]},{"id":"88e7ed41.27b89","type":"ui_chart","z":"261423f2.17d6ac","name":"","group":"f768ed7a.479fb","order":7,"width":0,"height":0,"label":"Inventory level ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2328.4646339416504,"y":32.92868232727051,"wires":[[],[]]},{"id":"a3b4f224.b6517","type":"ui_gauge","z":"261423f2.17d6ac","name":"Number of pieces","group":"f768ed7a.479fb","order":6,"width":0,"height":0,"gtype":"donut","title":"Number of pieces","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2373.535484313965,"y":106.71438598632812,"wires":[]},{"id":"2e065168.db19ee","type":"function","z":"261423f2.17d6ac","name":"unit weight","func":"var uw = msg.payload[0].unit_weight;\nmsg.payload = uw;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1805.250129699707,"y":255.10715627670288,"wires":[["53fc005b.17283","aa1ec851.f0a508"]]},{"id":"3593ecc7.218314","type":"function","z":"261423f2.17d6ac","name":"insert query","func":"//var a = \"INSERT INTO distributedstorage.inventorydb (id,article_number, article_name, unit_weight) VALUES (4,\"+msg.payload.aname+ \",\" +msg.payload.anum+\",\"+msg.payload.uweight+\")\";\n\nif (msg.payload.form.scan===true){\nvar a = \"INSERT INTO distributedstorage.inventorydb (`article_number`,`article_name`,`unit_weight`) VALUES ('\"+msg.payload.form.anum+\"','\"+msg.payload.form.aname+\"',\"+msg.payload.uweight+\");\";\nmsg.topic = a;\nreturn msg;\n}\n\n// payload.form.aname\n// payload.form.scan\n// payload.form.anum\n// payload.uweight","outputs":1,"noerr":0,"x":301.7500305175781,"y":598.5,"wires":[["635f2ddb.7cf314"]]},{"id":"635f2ddb.7cf314","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":500.00000762939453,"y":612.2500076293945,"wires":[["7dfc6ffa.0758a"]]},{"id":"ae9972d3.11f9","type":"function","z":"261423f2.17d6ac","name":"formatting","func":"\nvar array=[];\n\nfor (var i =0; i < msg.payload.length; i++) {\n\n    // var articlenumber = msg.payload[i].article_number;\n    var articlename = msg.payload[i].article_name;\n    \n    // var str = art\n    \n    array.push(articlename);\n   \n}\n\n\n\n msg.options = array;\n// msg.payload = array;\nreturn msg;\n","outputs":1,"noerr":0,"x":1140,"y":590,"wires":[["121aafb6.9ad41","51f1249b.f59d6c"]]},{"id":"7dfc6ffa.0758a","type":"function","z":"261423f2.17d6ac","name":"get article no.","func":" var a = \"SELECT article_number,article_name FROM distributedstorage.inventorydb\";\nmsg.topic = a;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":742.2500114440918,"y":609.5000076293945,"wires":[["ee9fce0e.22b89"]]},{"id":"ee9fce0e.22b89","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":953.5000152587891,"y":603.2500076293945,"wires":[["ae9972d3.11f9"]]},{"id":"121aafb6.9ad41","type":"ui_dropdown","z":"261423f2.17d6ac","name":"","label":"","tooltip":"","place":"Article name","group":"f768ed7a.479fb","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"article","x":1300.2500190734863,"y":592.2500076293945,"wires":[["8eadfe46.fd1bf","23246597.c0cf2a","c2bffa32.90fb28"]]},{"id":"aeb42c87.69e94","type":"ui_form","z":"261423f2.17d6ac","name":"","label":"Enter a new article","group":"28daf0b0.d37a9","order":1,"width":"6","height":"5","options":[{"label":"article name","value":"aname","type":"text","required":false},{"label":"article number","value":"anum","type":"number","required":false},{"label":"scan unit weight","value":"scan","type":"switch","required":false}],"formValue":{"aname":"","anum":"","scan":false},"payload":"","submit":"submit","cancel":"cancel","topic":"form","x":101,"y":669.75,"wires":[["cdba030c.c072a"]]},{"id":"e343e799.92f008","type":"function","z":"261423f2.17d6ac","name":"to float","func":"var weight = msg.payload;\nweight = parseFloat(weight);\nmsg.payload = weight;\nreturn msg;","outputs":1,"noerr":0,"x":215.75000762939453,"y":37.00000286102295,"wires":[["34cf588f.1c3758"]]},{"id":"9b3ec128.df34c","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":708.7500076293945,"y":85.00000190734863,"wires":[["9e0d08f3.9cf5c8"]]},{"id":"33d8e62b.7713ca","type":"change","z":"261423f2.17d6ac","name":"weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":551.2500076293945,"y":37.500000953674316,"wires":[["9b3ec128.df34c","19c331de.50c60e"]]},{"id":"c2e09cc.c2cdd6","type":"trigger","z":"261423f2.17d6ac","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":189.5,"y":104.5,"wires":[["8fb9ecd9.2f177"]]},{"id":"8fb9ecd9.2f177","type":"function","z":"261423f2.17d6ac","name":"to float","func":"var weight = msg.payload;\nweight = Number(weight);\nmsg.payload = weight;\nreturn msg;","outputs":1,"noerr":0,"x":369.25,"y":102.5,"wires":[["7224ecd5.4d4034"]]},{"id":"69ee12fa.f54ebc","type":"function","z":"261423f2.17d6ac","name":"get article","func":"var article = msg.payload.article;\nmsg.payload = article;\nreturn msg;\n","outputs":1,"noerr":0,"x":1031.4999389648438,"y":183.99999618530273,"wires":[["9f647589.87fca8","34e6975a.d17908"]]},{"id":"408411c1.77963","type":"function","z":"261423f2.17d6ac","name":"get weight","func":"var weight = msg.payload.weight;\nmsg.payload = weight;\n\nreturn msg;","outputs":1,"noerr":0,"x":1062.500015258789,"y":82.50000953674316,"wires":[["d933ebb0.479158"]]},{"id":"9e0d08f3.9cf5c8","type":"rbe","z":"261423f2.17d6ac","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":847.5000114440918,"y":83.75000190734863,"wires":[["408411c1.77963","69ee12fa.f54ebc","62cb7fc1.cae2d"]]},{"id":"34cf588f.1c3758","type":"trigger","z":"261423f2.17d6ac","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":386.25000762939453,"y":36.25,"wires":[["33d8e62b.7713ca"]]},{"id":"20ea7584.54069a","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":512.5000076293945,"y":681.7500085830688,"wires":[["7dfc6ffa.0758a"]]},{"id":"2cc5bfc6.c1075","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":1669.9642868041992,"y":611.3571262359619,"wires":[["75e470c3.cdc61"]]},{"id":"75e470c3.cdc61","type":"function","z":"261423f2.17d6ac","name":"get article","func":"var articlenumber = msg.payload[0].article_number;\nmsg.payload = articlenumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":1856.03564453125,"y":606.5,"wires":[["13d27c96.d36bb3","e42b0b1c.bd3b58"]]},{"id":"13d27c96.d36bb3","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":3,"width":0,"height":0,"name":"Article number","label":"Article number","format":"{{msg.payload}}","layout":"row-spread","x":2161.321533203125,"y":673.9285278320312,"wires":[]},{"id":"511e309e.0bb7d","type":"link in","z":"261423f2.17d6ac","name":"","links":["e42b0b1c.bd3b58"],"x":57.5,"y":111,"wires":[["c2e09cc.c2cdd6"]]},{"id":"b6a6a8cf.243df8","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n//var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number = art$;\";\n//msg.topic = a;\n//return msg;\nvar str = \"'\"+msg.payload+\"'\";\nvar a = \"SELECT article_name FROM distributedstorage.inventorydb WHERE article_name =\"+ str;\n\n// var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number =\" + msg.payload;\nmsg.topic = a;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":270.75000381469727,"y":992.0000133514404,"wires":[["7562abb1.670034"]]},{"id":"7562abb1.670034","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":490.25000762939453,"y":991.0000133514404,"wires":[["8692948b.275978"]]},{"id":"8692948b.275978","type":"function","z":"261423f2.17d6ac","name":"get article","func":"var articlename = msg.payload[0].article_name;\nmsg.payload = articlename;\nreturn msg;\n","outputs":1,"noerr":0,"x":689.5000114440918,"y":986.2500133514404,"wires":[["9b46bf5.7ea5b4"]]},{"id":"9b46bf5.7ea5b4","type":"ui_text","z":"261423f2.17d6ac","group":"28daf0b0.d37a9","order":3,"width":0,"height":0,"name":"Article name","label":"Article name","format":"{{msg.payload}}","layout":"row-spread","x":1310.53564453125,"y":974.4642333984375,"wires":[]},{"id":"15ac54e7.4b9c4b","type":"ui_dropdown","z":"261423f2.17d6ac","name":"","label":"Delete","tooltip":"","place":"article","group":"28daf0b0.d37a9","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"delete","x":125.25000381469727,"y":928.2500114440918,"wires":[["b6a6a8cf.243df8","37a98e9c.72b3c2","a6f236af.8ce368"]]},{"id":"51f1249b.f59d6c","type":"link out","z":"261423f2.17d6ac","name":"","links":["5d318433.7c7b5c"],"x":1166.0000171661377,"y":674.2500085830688,"wires":[]},{"id":"5d318433.7c7b5c","type":"link in","z":"261423f2.17d6ac","name":"","links":["51f1249b.f59d6c"],"x":40.000000953674316,"y":927.7500114440918,"wires":[["15ac54e7.4b9c4b"]]},{"id":"bdec6551.5f8668","type":"function","z":"261423f2.17d6ac","name":"select query","func":"var del = msg.payload.delete;\nvar user = msg.payload.user;\n\n del = \"'\"+del+\"'\";\n\nif (user === 'OK') {\n    var a = \"DELETE FROM distributedstorage.inventorydb WHERE article_name =\"+ del;\n    msg.topic = a;\n    return msg;\n}\n// return null;","outputs":1,"noerr":0,"x":692.7500114440918,"y":915.5000114440918,"wires":[["98e8e5e8.30f2c8"]]},{"id":"98e8e5e8.30f2c8","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":888.2500152587891,"y":913.2500095367432,"wires":[["7dfc6ffa.0758a","b26224f0.ad5f88"]]},{"id":"37a98e9c.72b3c2","type":"ui_toast","z":"261423f2.17d6ac","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Delete this article ?","name":"Delete this article ?","x":221.25001525878906,"y":855.5000123977661,"wires":[["a910c6cd.013648"]]},{"id":"a6f236af.8ce368","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":516.5000076293945,"y":919.7500133514404,"wires":[["bdec6551.5f8668"]]},{"id":"a910c6cd.013648","type":"change","z":"261423f2.17d6ac","name":"user","rules":[{"t":"set","p":"topic","pt":"msg","to":"user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.00000762939453,"y":855.5000133514404,"wires":[["a6f236af.8ce368"]]},{"id":"c504108e.17bda","type":"moment","z":"261423f2.17d6ac","name":"","topic":"time","input":"payload","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"0","adjType":"hours","adjDir":"add","format":"DD-MM-YYYY HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":1196.2501335144043,"y":283.75000953674316,"wires":[["53fc005b.17283"]]},{"id":"62cb7fc1.cae2d","type":"function","z":"261423f2.17d6ac","name":"get current time","func":"var timestamp = Date.now();\n\n\n\nmsg.payload = timestamp;\n\n\n// var d = new Date(2011,10,30);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":963.4286499023438,"y":258.5714416503906,"wires":[["c504108e.17bda"]]},{"id":"53fc005b.17283","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1553.249755859375,"y":379,"wires":[["ba30db6d.75cac8"]]},{"id":"34e6975a.d17908","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"articlenumber","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1332.125,"y":245.75,"wires":[["53fc005b.17283","ee57c877.be8cc8"]]},{"id":"ad67b33a.1ed64","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"count","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2084.875030517578,"y":84.24999809265137,"wires":[["a3b4f224.b6517","88e7ed41.27b89","53fc005b.17283","aa1ec851.f0a508","e7396328.4effe"]]},{"id":"ba30db6d.75cac8","type":"function","z":"261423f2.17d6ac","name":"insert query","func":"// var a = \"INSERT INTO distributedstorage.inventorydb (`article_number`,`article_name`,`unit_weight`) VALUES ('\"+msg.payload.anum+\"','\"+msg.payload.aname+\"',\"+msg.payload.uweight+\");\";\n\n// var a = \"INSERT INTO inventorylog.datalog (`time`,`article_number`,`unit_weight`,`obtained_weight`,`count`) VALUES ('\"+msg.payload.time+\"','\"+msg.payload.article number+\"','\"+msg.payload.unit weight+\"','\"+msg.payload.obtained weight+\"',\"+msg.payload.count+\");\";\n\n// var a = \"INSERT INTO inventorylog.datalog (`time`,`scale_id`,`article_number`,`unit_weight`,`obtained_weight`,`count`) VALUES ('\"+msg.payload.time+\"','\"+msg.payload.articlenumber+\"','\"+msg.payload.unitweight+\"','\"+msg.payload.obtainedweight+\"',\"+msg.payload.count+\");\";\n\nvar a = \"INSERT INTO inventorylog.datalog (`time`,`scale_id`,`article_number`,`unit_weight`,`obtained_weight`,`count`) VALUES ('\"+msg.payload.time+\"','\"+msg.payload.scaleid+\"','\"+msg.payload.articlenumber+\"','\"+msg.payload.unitweight+\"','\"+msg.payload.obtainedweight+\"',\"+msg.payload.count+\");\";\n\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":1958.7144966125488,"y":420.35715675354004,"wires":[["6472e19d.b589d"]]},{"id":"15a00b2c.d22425","type":"mysql","z":"261423f2.17d6ac","mydb":"d5bb2fd9.81efa","name":"","x":3231.0002212524414,"y":394.2857904434204,"wires":[[]]},{"id":"98bc2511.7ac1b8","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":855.2500228881836,"y":328.75000953674316,"wires":[["62cb7fc1.cae2d"]]},{"id":"a222dc23.78516","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2628.964138031006,"y":385.71438789367676,"wires":[["f8717292.e212f"]]},{"id":"67b9e37d.90ebfc","type":"ui_switch","z":"261423f2.17d6ac","name":"","label":"Log into DB ","tooltip":"","group":"28daf0b0.d37a9","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"log","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1730.7502517700195,"y":532.1428179740906,"wires":[["6d531e83.4c297","96f815ff.cee278"]]},{"id":"f8717292.e212f","type":"function","z":"261423f2.17d6ac","name":"log at active state","func":"var log = msg.payload.Confirm;\nvar query = msg.payload.query;\nif (log === true){\n    msg.topic = query;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2865.3570556640625,"y":394.1072006225586,"wires":[["15a00b2c.d22425"]]},{"id":"6472e19d.b589d","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"query","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2227.5000610351562,"y":427.5000114440918,"wires":[["a222dc23.78516"]]},{"id":"8eadfe46.fd1bf","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n//var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number = art$;\";\n//msg.topic = a;\n//return msg;\n\nvar str = \"'\"+msg.payload+\"'\";\nvar a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_name =\" + str;\nmsg.topic = a;\nreturn msg;","outputs":1,"noerr":0,"x":1481.25,"y":671.25,"wires":[["31db4b81.59f6c4"]]},{"id":"31db4b81.59f6c4","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":1698.7499694824219,"y":698.7499618530273,"wires":[["9c44eba5.704f88"]]},{"id":"9c44eba5.704f88","type":"function","z":"261423f2.17d6ac","name":"get unit weight","func":"var uweight = msg.payload[0].unit_weight;\nmsg.payload = uweight;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1893.7500228881836,"y":672.5000123977661,"wires":[["c7dc1a8a.c95ee8"]]},{"id":"b26224f0.ad5f88","type":"trigger","z":"261423f2.17d6ac","op1":"nil","op2":"nil","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1148.75,"y":906,"wires":[["9b46bf5.7ea5b4","13d27c96.d36bb3","c7dc1a8a.c95ee8"]]},{"id":"9179fc81.1927f","type":"ui_switch","z":"261423f2.17d6ac","name":"","label":"Delete Log","tooltip":"","group":"28daf0b0.d37a9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":232.50000762939453,"y":1528.749921798706,"wires":[["e369e85.d972718"]]},{"id":"87807715.7537f8","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n\nif (msg.payload === \"OK\") {\n    var a = \"DELETE FROM inventorylog.datalog\";\n    msg.topic = a;\n    return msg;\n}\n// return null;","outputs":1,"noerr":0,"x":1056.2499237060547,"y":1518.7497730255127,"wires":[["d189ffba.b43ac"]]},{"id":"d189ffba.b43ac","type":"mysql","z":"261423f2.17d6ac","mydb":"d5bb2fd9.81efa","name":"","x":1304.9995918273926,"y":1519.6588468551636,"wires":[[]]},{"id":"393046fe.5b3dba","type":"ui_switch","z":"261423f2.17d6ac","name":"","label":"Download Log","tooltip":"","group":"28daf0b0.d37a9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":251.25,"y":1185.0000190734863,"wires":[["8315f294.cbacf"]]},{"id":"8315f294.cbacf","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n\nif (msg.payload === true) {\n    var a = \"SELECT * FROM inventorylog.datalog\";\n    msg.topic = a;\n    return msg;\n}\n// return null;","outputs":1,"noerr":0,"x":443.75000762939453,"y":1186.2500190734863,"wires":[["79005786.d27d58"]]},{"id":"79005786.d27d58","type":"mysql","z":"261423f2.17d6ac","mydb":"d5bb2fd9.81efa","name":"","x":625.0000076293945,"y":1188.7500185966492,"wires":[["61491d0e.b45044"]]},{"id":"61491d0e.b45044","type":"csv","z":"261423f2.17d6ac","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,scale_id,article_number,unit_weight,obtained_weight,count","skip":"0","strings":true,"x":792.5000114440918,"y":1192.5000185966492,"wires":[["6dca65a7.8672bc"]]},{"id":"6dca65a7.8672bc","type":"file","z":"261423f2.17d6ac","name":"","filename":"C:\\Distributed Storage System\\log.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1046.250015258789,"y":1191.2500190734863,"wires":[[]]},{"id":"b9c725b5.ff9058","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":63.125,"y":1528.7498111724854,"wires":[["9179fc81.1927f"]]},{"id":"35ae15f4.bbdbea","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":82.5,"y":1185.0000190734863,"wires":[["393046fe.5b3dba"]]},{"id":"f787e35d.ca4fa","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1551.249855041504,"y":465.1785469055176,"wires":[["67b9e37d.90ebfc"]]},{"id":"11894496.0bbfcb","type":"ui_toast","z":"261423f2.17d6ac","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"CANCEL","topic":"Alert!!!","name":"Alert!!!","x":753.7499847412109,"y":1518.7497727870941,"wires":[["7ccf96b3.5dd148"]]},{"id":"e369e85.d972718","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":395.0106201171875,"y":1528.2669658660889,"wires":[["d0c191ef.27ea8"]]},{"id":"7ccf96b3.5dd148","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"CANCEL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":891.6015472412109,"y":1519.3146257400513,"wires":[["87807715.7537f8"],["4148a2f9.7a6e0c"]]},{"id":"4148a2f9.7a6e0c","type":"function","z":"261423f2.17d6ac","name":"","func":"msg.payload =false;\nreturn msg;","outputs":1,"noerr":0,"x":534.1157493591309,"y":1626.8321962356567,"wires":[["9179fc81.1927f"]]},{"id":"d0c191ef.27ea8","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Delete this log ?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.1015548706055,"y":1524.3039741516113,"wires":[["11894496.0bbfcb"]]},{"id":"964cd3f1.224d","type":"mqtt in","z":"261423f2.17d6ac","name":"","topic":"scale_id","qos":"2","datatype":"auto","broker":"827509a9.b34c28","x":65,"y":379.4714460372925,"wires":[["375e54ae.ce9a5c"]]},{"id":"b5a81361.d2c22","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":1,"width":0,"height":0,"name":"Status","label":"weight scale status","format":"{{msg.payload}}","layout":"row-spread","x":574.839241027832,"y":307.68576765060425,"wires":[]},{"id":"9572b574.ca6dd8","type":"json","z":"261423f2.17d6ac","name":"","property":"payload","action":"obj","pretty":false,"x":363.76774978637695,"y":394.97514152526855,"wires":[["2b437804.02ac38","992d326d.877af"]]},{"id":"2b437804.02ac38","type":"function","z":"261423f2.17d6ac","name":"","func":"\nvar connection = msg.payload.connection;\n\nmsg.payload = connection;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":527.3320579528809,"y":374.4323978424072,"wires":[["b5a81361.d2c22"]]},{"id":"992d326d.877af","type":"function","z":"261423f2.17d6ac","name":"","func":"\nvar scaleid = msg.payload.scaleid;\n\n\nmsg.payload = scaleid;\n\nreturn msg;","outputs":1,"noerr":0,"x":525.0177459716797,"y":421.257155418396,"wires":[["763f4dc0.73ea04","31f101b7.ecf1de"]]},{"id":"763f4dc0.73ea04","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":1,"width":0,"height":0,"name":"weight scale ID","label":"weight scale ID","format":"{{msg.payload}}","layout":"row-spread","x":612.5177459716797,"y":492.5071830749512,"wires":[]},{"id":"375e54ae.ce9a5c","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not connected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":202.86775588989258,"y":391.2251377105713,"wires":[["b5a81361.d2c22","deef4aa0.710cf8","6a76b7c4.323028"],["9572b574.ca6dd8"]]},{"id":"deef4aa0.710cf8","type":"function","z":"261423f2.17d6ac","name":"","func":"msg.payload = \"nil\";\nreturn msg;","outputs":1,"noerr":0,"x":385.35863494873047,"y":476.04758167266846,"wires":[["763f4dc0.73ea04","fe66d519.ea2c48"]]},{"id":"31f101b7.ecf1de","type":"change","z":"261423f2.17d6ac","name":"scaleid","rules":[{"t":"set","p":"topic","pt":"msg","to":"scaleid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":693.5530853271484,"y":430.08262634277344,"wires":[["325a24a3.f12c4c"]]},{"id":"d4e7fd9d.7295b","type":"trigger","z":"261423f2.17d6ac","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1323.3966979980469,"y":394.2572937011719,"wires":[["53fc005b.17283"]]},{"id":"325a24a3.f12c4c","type":"persist in","z":"261423f2.17d6ac","name":"scale id","storageNode":"ff1d6bdf.da2e28","x":844.3099746704102,"y":428.53485584259033,"wires":[]},{"id":"fe66d519.ea2c48","type":"function","z":"261423f2.17d6ac","name":"","func":"if (msg.payload===\"nil\"){\n    msg.payload = false;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":587.2889633178711,"y":541.3878993988037,"wires":[["67b9e37d.90ebfc"]]},{"id":"6ac38827.681028","type":"ui_toast","z":"261423f2.17d6ac","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"CANCEL","topic":"Confirm","name":"Confirm!!!","x":2172.357032775879,"y":491.43676376342773,"wires":[["7fdcac6d.fe78f4"]]},{"id":"7fdcac6d.fe78f4","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"CANCEL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2309.752227783203,"y":495.6817584037781,"wires":[["da00bbd4.852698"],["34520e62.6f28e2"]]},{"id":"da00bbd4.852698","type":"function","z":"261423f2.17d6ac","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":2463.6488494873047,"y":482.6175842285156,"wires":[["96f815ff.cee278"]]},{"id":"34520e62.6f28e2","type":"function","z":"261423f2.17d6ac","name":"","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":2475.0811195373535,"y":588.3401470184326,"wires":[["96f815ff.cee278","67b9e37d.90ebfc"]]},{"id":"6d531e83.4c297","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1895.3448162078857,"y":494.29375743865967,"wires":[["4e17f243.acb44c"]]},{"id":"4e17f243.acb44c","type":"change","z":"261423f2.17d6ac","name":"log in db","rules":[{"t":"set","p":"payload","pt":"msg","to":"Log into Database?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2028.4614944458008,"y":495.72239112854004,"wires":[["6ac38827.681028"]]},{"id":"6a76b7c4.323028","type":"function","z":"261423f2.17d6ac","name":"","func":"if(msg.payload===\"not connected\"){\n    var msg1 = {payload:\"nil\" };\n    var msg2 = {payload:0 };\n    var msg3 = {payload:0 };\n    var msg4 = {payload:0 };\n}\nreturn [msg1,msg2,msg3,msg4];\n\n\n//  var msg1 = {payload:\"nil\" };","outputs":4,"noerr":0,"x":107.16727447509766,"y":247.11036682128906,"wires":[["48696634.2f4fe8"],["77c24eb4.bd1de"],["ce0141e3.86ec1"],["95565c59.94c95"]]},{"id":"48696634.2f4fe8","type":"link out","z":"261423f2.17d6ac","name":"","links":["5e04a4c3.ff4c5c"],"x":263.2588405609131,"y":168.400972366333,"wires":[]},{"id":"77c24eb4.bd1de","type":"link out","z":"261423f2.17d6ac","name":"","links":["87dbea1.85f9018"],"x":260.02030181884766,"y":220.0081205368042,"wires":[]},{"id":"ce0141e3.86ec1","type":"link out","z":"261423f2.17d6ac","name":"","links":["818e9053.76ab5"],"x":261.4488744735718,"y":268.5795555114746,"wires":[]},{"id":"95565c59.94c95","type":"link out","z":"261423f2.17d6ac","name":"","links":["2c69be98.f35732"],"x":258.59174060821533,"y":320.0081195831299,"wires":[]},{"id":"5e04a4c3.ff4c5c","type":"link in","z":"261423f2.17d6ac","name":"","links":["48696634.2f4fe8"],"x":1951.0508632659912,"y":571.4001731872559,"wires":[["13d27c96.d36bb3"]]},{"id":"87dbea1.85f9018","type":"link in","z":"261423f2.17d6ac","name":"","links":["77c24eb4.bd1de"],"x":1967.296989440918,"y":731.3839302062988,"wires":[["c7dc1a8a.c95ee8"]]},{"id":"818e9053.76ab5","type":"link in","z":"261423f2.17d6ac","name":"","links":["ce0141e3.86ec1"],"x":1402.8774881362915,"y":32.82062101364136,"wires":[["ef63b3eb.f9921"]]},{"id":"2c69be98.f35732","type":"link in","z":"261423f2.17d6ac","name":"","links":["95565c59.94c95"],"x":2228.8553524017334,"y":158.53491115570068,"wires":[["a3b4f224.b6517"]]},{"id":"ee57c877.be8cc8","type":"pythonshell in","z":"261423f2.17d6ac","name":"","pyfile":"C:\\Distributed Storage System\\error.py","virtualenv":"","continuous":false,"stdInData":false,"x":1660.694580078125,"y":304.2001647949219,"wires":[["400939f9.568e88"]]},{"id":"400939f9.568e88","type":"json","z":"261423f2.17d6ac","name":"","property":"payload","action":"","pretty":false,"x":1869.85498046875,"y":312.0526428222656,"wires":[["e3014465.bf2f28"]]},{"id":"e3014465.bf2f28","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"permissible","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2136.8950271606445,"y":334.2410306930542,"wires":[["e3bf9b8f.7118b8"]]},{"id":"e3bf9b8f.7118b8","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2188.3318977355957,"y":248.53893566131592,"wires":[["b2835cc9.8b2ee"]]},{"id":"b2835cc9.8b2ee","type":"function","z":"261423f2.17d6ac","name":"article match check","func":"var permissible = msg.payload.permissible;\nvar obtainedweight = msg.payload.obtainedweight;\n\nfor (var i = 0; i < permissible.length; i++){\n    if (permissible[i] === obtainedweight) { \n        msg.payload = \"Article matches\";\n        \n        }\n \n}\n\nif(msg.payload!== \"Article matches\"){\n    msg.payload = \"suspects article mismatch\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2400.1418533325195,"y":238.33601760864258,"wires":[["70f70b6e.803cb4"]]},{"id":"70f70b6e.803cb4","type":"ui_text","z":"261423f2.17d6ac","group":"9a6d9597.2464b8","order":0,"width":0,"height":0,"name":"Method 1","label":"Method 1","format":"{{msg.payload}}","layout":"row-spread","x":2634.6876373291016,"y":302.79624366760254,"wires":[]},{"id":"aa1ec851.f0a508","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2506.3860778808594,"y":721.9372501373291,"wires":[["768c75d6.325f4c"]]},{"id":"5c413c30.8a7924","type":"link out","z":"261423f2.17d6ac","name":"","links":["39c95e77.8922e2"],"x":1322.7500610351562,"y":31.91476535797119,"wires":[]},{"id":"39c95e77.8922e2","type":"link in","z":"261423f2.17d6ac","name":"","links":["5c413c30.8a7924"],"x":2179.6533060073853,"y":771.9545516967773,"wires":[["aa1ec851.f0a508","bbc5c1aa.8b868"]]},{"id":"768c75d6.325f4c","type":"function","z":"261423f2.17d6ac","name":"","func":"var unitweight = msg.payload.unitweight;\nvar obtainedweight = msg.payload.obtainedweight;\nvar count = msg.payload.count;\n\nvar calculatedweight = unitweight*count;\n\nif ((obtainedweight > (calculatedweight + 0.4)) || (obtainedweight < (calculatedweight - 0.4))){\n    msg.payload = \"Kindly check the weight scale\";\n    \n}\nelse{\n    msg.payload = \"Article matches\"\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2657.7016525268555,"y":724.2246589660645,"wires":[["305f48c4.650838","ae6aa957.a89f48"]]},{"id":"305f48c4.650838","type":"ui_text","z":"261423f2.17d6ac","group":"9a6d9597.2464b8","order":0,"width":0,"height":0,"name":"Method 2","label":"Method 2 ","format":"{{msg.payload}}","layout":"row-spread","x":2864.612060546875,"y":658.5827026367188,"wires":[]},{"id":"ae6aa957.a89f48","type":"function","z":"261423f2.17d6ac","name":"","func":"if(msg.payload === \"Kindly check the weight scale\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":2845.7798767089844,"y":719.6687679290771,"wires":[["741c146d.d4a95c"]]},{"id":"741c146d.d4a95c","type":"ui_toast","z":"261423f2.17d6ac","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"CANCEL","topic":"Alert!!!","name":"Alert!!!","x":3040.469882965088,"y":731.4399394989014,"wires":[[]]},{"id":"c8e78799.d75be8","type":"pythonshell in","z":"261423f2.17d6ac","name":"","pyfile":"C:\\Distributed Storage System\\knn_1f.py","virtualenv":"","continuous":false,"stdInData":false,"x":2668.989772796631,"y":858.5826797485352,"wires":[["bad5df4c.0aa63"]]},{"id":"bbc5c1aa.8b868","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2461.8579444885254,"y":857.9600715637207,"wires":[["c8e78799.d75be8","fbab6f0c.5057d"]]},{"id":"e7396328.4effe","type":"link out","z":"261423f2.17d6ac","name":"","links":["f3aceb5e.ad2248"],"x":2171.840934276581,"y":23.903411865234375,"wires":[]},{"id":"f3aceb5e.ad2248","type":"link in","z":"261423f2.17d6ac","name":"","links":["e7396328.4effe"],"x":2317.8524742126465,"y":985.9430904388428,"wires":[["bbc5c1aa.8b868"]]},{"id":"2979aec8.b1f7d2","type":"pythonshell in","z":"261423f2.17d6ac","name":"","pyfile":"C:\\Distributed Storage System\\trainmodel_1f.py","virtualenv":"","continuous":false,"stdInData":false,"x":2259.599853515625,"y":1146,"wires":[["e8bff69e.157fc8"]]},{"id":"208879ef.494026","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"604800","crontab":"","once":true,"onceDelay":0.1,"x":2061.199981689453,"y":1140.0000171661377,"wires":[["2979aec8.b1f7d2"]]},{"id":"fbab6f0c.5057d","type":"pythonshell in","z":"261423f2.17d6ac","name":"","pyfile":"C:\\Distributed Storage System\\dtc_1f.py","virtualenv":"","continuous":false,"stdInData":false,"x":2674.5715255737305,"y":924.8571357727051,"wires":[["eaca88e6.fb2938"]]},{"id":"8b491f2b.c7ec4","type":"ui_text","z":"261423f2.17d6ac","group":"9a6d9597.2464b8","order":0,"width":0,"height":0,"name":"Method 3","label":"knn classifier predicts","format":"{{msg.payload}}","layout":"row-spread","x":3105,"y":857,"wires":[]},{"id":"f64c60e1.1cbc8","type":"ui_text","z":"261423f2.17d6ac","group":"9a6d9597.2464b8","order":0,"width":0,"height":0,"name":"Method 4","label":"decision tree predicts","format":"{{msg.payload}}","layout":"row-spread","x":3139,"y":972,"wires":[]},{"id":"bad5df4c.0aa63","type":"function","z":"261423f2.17d6ac","name":"","func":"var str = msg.payload;\nstr = str.substring(1, str.length-1);\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2852.4001693725586,"y":859.4285907745361,"wires":[["8b491f2b.c7ec4"]]},{"id":"eaca88e6.fb2938","type":"function","z":"261423f2.17d6ac","name":"","func":"var str = msg.payload;\nstr = str.substring(1, str.length-1);\nmsg.payload = str;\nreturn msg;\n","outputs":1,"noerr":0,"x":2861.7142372131348,"y":933.1428318023682,"wires":[["f64c60e1.1cbc8"]]},{"id":"96f815ff.cee278","type":"function","z":"261423f2.17d6ac","name":"","func":"if(msg.payload===true){\n    msg.payload = true;\n}\nelse if(msg.payload===false){\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2905.714199066162,"y":538.5714893341064,"wires":[["6b5e3b39.eab774"]]},{"id":"6b5e3b39.eab774","type":"trigger","z":"261423f2.17d6ac","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":3148.571273803711,"y":534.2857141494751,"wires":[["a3c1d227.6d3cc"]]},{"id":"a3c1d227.6d3cc","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Confirm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3361.4286193847656,"y":541.4285707473755,"wires":[["a222dc23.78516"]]},{"id":"5f240f31.c797","type":"persist out","z":"261423f2.17d6ac","name":"scale id","storageNode":"ff1d6bdf.da2e28","x":1065.4285888671875,"y":418.71429443359375,"wires":[["d4e7fd9d.7295b"]]},{"id":"23246597.c0cf2a","type":"function","z":"261423f2.17d6ac","name":"select query","func":"\n//var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number = art$;\";\n//msg.topic = a;\n//return msg;\n\nvar str = \"'\"+msg.payload+\"'\";\n\nvar a = \"SELECT article_number FROM distributedstorage.inventorydb WHERE article_name =\"+ str;\n\n// var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number =\" + msg.payload;\nmsg.topic = a;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1476,"y":587,"wires":[["2cc5bfc6.c1075"]]},{"id":"e42b0b1c.bd3b58","type":"link out","z":"261423f2.17d6ac","name":"","links":["511e309e.0bb7d"],"x":1952,"y":638,"wires":[]},{"id":"7224ecd5.4d4034","type":"change","z":"261423f2.17d6ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":553,"y":100,"wires":[["9b3ec128.df34c"]]},{"id":"13aef24e.05d48e","type":"mqtt in","z":"261423f2.17d6ac","name":"","topic":"inv","qos":"2","datatype":"auto","broker":"827509a9.b34c28","x":87,"y":766,"wires":[["983a21c7.eac21"]]},{"id":"983a21c7.eac21","type":"function","z":"261423f2.17d6ac","name":"to float","func":"var weight = msg.payload;\nweight = parseFloat(weight);\nmsg.payload = weight;\nreturn msg;\n\n\npayload.form.scan","outputs":1,"noerr":0,"x":231.89999389648438,"y":768.7000122070312,"wires":[["3a092462.fbdf4c"]]},{"id":"9329f431.e79aa8","type":"change","z":"261423f2.17d6ac","name":"weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"uweight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":573.4000244140625,"y":774.2000122070312,"wires":[["cdba030c.c072a"]]},{"id":"3a092462.fbdf4c","type":"trigger","z":"261423f2.17d6ac","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":403.3999938964844,"y":768.9500122070312,"wires":[["9329f431.e79aa8"]]},{"id":"cdba030c.c072a","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":706,"y":738,"wires":[["3593ecc7.218314"]]},{"id":"a8367adc.d7eed8","type":"link out","z":"261423f2.17d6ac","name":"","links":["a3be852f.584178","9cf6e5b7.849368","25253e7d.57a652","d3ddafd9.57c3e"],"x":1921,"y":1412,"wires":[]},{"id":"9cf6e5b7.849368","type":"link in","z":"261423f2.17d6ac","name":"","links":["a8367adc.d7eed8"],"x":2976,"y":895,"wires":[["8b491f2b.c7ec4"]]},{"id":"a3be852f.584178","type":"link in","z":"261423f2.17d6ac","name":"","links":["a8367adc.d7eed8"],"x":2999,"y":1013,"wires":[["f64c60e1.1cbc8"]]},{"id":"d3ddafd9.57c3e","type":"link in","z":"261423f2.17d6ac","name":"","links":["a8367adc.d7eed8"],"x":2500,"y":312,"wires":[["70f70b6e.803cb4"]]},{"id":"25253e7d.57a652","type":"link in","z":"261423f2.17d6ac","name":"","links":["a8367adc.d7eed8"],"x":2768,"y":629,"wires":[["305f48c4.650838"]]},{"id":"c2bffa32.90fb28","type":"link out","z":"261423f2.17d6ac","name":"","links":["287b95de.c959fa"],"x":1359,"y":646,"wires":[]},{"id":"b4b62df5.adcae","type":"inject","z":"261423f2.17d6ac","name":"","topic":"","payload":"N/A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1713.5,"y":1424,"wires":[["a8367adc.d7eed8"]]},{"id":"905e5411.318368","type":"switch","z":"261423f2.17d6ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1679,"y":1351,"wires":[["65c84fd1.d8c7"]]},{"id":"bfb0892c.d8cf08","type":"link in","z":"261423f2.17d6ac","name":"","links":["19c331de.50c60e"],"x":1523,"y":1315,"wires":[["905e5411.318368"]]},{"id":"65c84fd1.d8c7","type":"function","z":"261423f2.17d6ac","name":"","func":"var str = \"N/A\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1814,"y":1351,"wires":[["a8367adc.d7eed8"]]},{"id":"19c331de.50c60e","type":"link out","z":"261423f2.17d6ac","name":"","links":["bfb0892c.d8cf08"],"x":698.5,"y":29,"wires":[]},{"id":"e8bff69e.157fc8","type":"debug","z":"261423f2.17d6ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2439.5,"y":1142,"wires":[]},{"id":"6e0ca01c.18421","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"distributedstorage","tz":"UTC"},{"id":"827509a9.b34c28","type":"mqtt-broker","z":"","name":"pi","broker":"192.168.0.36","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f768ed7a.479fb","type":"ui_group","z":"","name":"Inventory","tab":"41d4aca1.c6b1b4","disp":true,"width":"7","collapse":false},{"id":"28daf0b0.d37a9","type":"ui_group","z":"","name":"Modify ","tab":"41d4aca1.c6b1b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"d5bb2fd9.81efa","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"inventorylog","tz":"UTC"},{"id":"ff1d6bdf.da2e28","type":"persist-store","z":"","filename":"C:\\Distributed Storage System\\id.json","interval":"60"},{"id":"9a6d9597.2464b8","type":"ui_group","z":"","name":"Article Match","tab":"41d4aca1.c6b1b4","order":4,"disp":true,"width":"7","collapse":false},{"id":"41d4aca1.c6b1b4","type":"ui_tab","z":"","name":"Distributed Storage System","icon":"dashboard","disabled":false,"hidden":false}]