version 3/flows/25.11/pi.json
[{"id":"a12ca12a.fe2f8","type":"tab","label":"Distributed Storage System - Pi","disabled":false,"info":""},{"id":"24d8c4dc.d15a1c","type":"serial in","z":"a12ca12a.fe2f8","name":"scale","serial":"b09e486b.244088","x":70,"y":120,"wires":[["2ef673d7.f019cc"]]},{"id":"7e0aa26d.12301c","type":"ui_gauge","z":"a12ca12a.fe2f8","name":"","group":"5d3f4611.f01608","order":8,"width":7,"height":5,"gtype":"gage","title":"Weight ","label":"grams","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":200,"wires":[]},{"id":"2ef673d7.f019cc","type":"function","z":"a12ca12a.fe2f8","name":"parse raw data","func":"var a = msg.payload;\na = a.replace(/^W:+/i, ''); \na= a.replace('+','');\na = a.substring(0, a.length - 1);\n\nmsg.payload = a;\n\nvar w = msg.payload;\nvar  wf = parseFloat(w);\n\n\nmsg.payload = wf;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["a3106e94.d6f3c"]]},{"id":"d21c5944.419878","type":"debug","z":"a12ca12a.fe2f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"cccf5c5f.7908e","type":"mqtt out","z":"a12ca12a.fe2f8","name":"","topic":"inv","qos":"","retain":"","broker":"434eadcd.acab24","x":790,"y":220,"wires":[]},{"id":"a3106e94.d6f3c","type":"change","z":"a12ca12a.fe2f8","name":"weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["469e991f.66b6d8"]]},{"id":"ca82a5b4.447b98","type":"ui_text","z":"a12ca12a.fe2f8","group":"5d3f4611.f01608","order":5,"width":"4","height":1,"name":"","label":"Weight","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":100,"wires":[]},{"id":"469e991f.66b6d8","type":"rbe","z":"a12ca12a.fe2f8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":140,"wires":[["ca82a5b4.447b98","7e0aa26d.12301c","cccf5c5f.7908e","d21c5944.419878"]]},{"id":"a18bf599.6c0218","type":"status","z":"a12ca12a.fe2f8","name":"","scope":["24d8c4dc.d15a1c"],"x":100,"y":560,"wires":[["c26ab459.8f7068"]]},{"id":"c26ab459.8f7068","type":"function","z":"a12ca12a.fe2f8","name":"","func":"if(msg.status.text===\"node-red:common.status.connected\"){\n    var a = \"connected\";\n    msg.payload = a;\n    return msg;\n}\nelse{\n    a = \"not connected\";\n    msg.payload = a;\n    return msg;\n}\n\n//  cat /proc/cpuinfo | grep Serial | cut -d ' ' -f 2\n\n","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["31180438.e6386c","d64f9f56.e88ec"]]},{"id":"e584b339.1eb03","type":"mqtt out","z":"a12ca12a.fe2f8","name":"","topic":"scale_id","qos":"","retain":"","broker":"434eadcd.acab24","x":1080,"y":900,"wires":[]},{"id":"e06df5cb.cbe228","type":"exec","z":"a12ca12a.fe2f8","command":"./devicenum.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":860,"y":520,"wires":[["7111d66d.777c28"],[],[]]},{"id":"ecfb2052.44398","type":"exec","z":"a12ca12a.fe2f8","command":"./piserial.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":850,"y":640,"wires":[["5de247db.e41298"],[],[]]},{"id":"7111d66d.777c28","type":"function","z":"a12ca12a.fe2f8","name":"","func":"var a = msg.payload;\na = a.substring(15, 18);\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":540,"wires":[["3257cc15.a531c4"]]},{"id":"3257cc15.a531c4","type":"change","z":"a12ca12a.fe2f8","name":"device","rules":[{"t":"set","p":"topic","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":540,"wires":[["6ca88437.c90a4c"]]},{"id":"c28e1968.d7af38","type":"change","z":"a12ca12a.fe2f8","name":"serialnum","rules":[{"t":"set","p":"topic","pt":"msg","to":"serialnum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":640,"wires":[["6ca88437.c90a4c"]]},{"id":"6ca88437.c90a4c","type":"join","z":"a12ca12a.fe2f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1330,"y":500,"wires":[["a40a9b2f.b52b28"]]},{"id":"a40a9b2f.b52b28","type":"function","z":"a12ca12a.fe2f8","name":"","func":"var devicenum = msg.payload.device;\nvar serialnum = msg.payload.serialnum;\n\nvar scaleid= serialnum+\"-\"+devicenum;\n\nmsg.payload = scaleid;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1530,"y":520,"wires":[["b19b45eb.9ba578"]]},{"id":"5de247db.e41298","type":"function","z":"a12ca12a.fe2f8","name":"","func":"var a = msg.payload;\na = a.substring(0, a.length - 1);\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":640,"wires":[["c28e1968.d7af38"]]},{"id":"31180438.e6386c","type":"switch","z":"a12ca12a.fe2f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"not connected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":560,"wires":[["e06df5cb.cbe228","ecfb2052.44398"],["e584b339.1eb03"]]},{"id":"6e816f00.9ad06","type":"join","z":"a12ca12a.fe2f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1690,"y":720,"wires":[["6caef7c8.f86fc8"]]},{"id":"d64f9f56.e88ec","type":"change","z":"a12ca12a.fe2f8","name":"connection","rules":[{"t":"set","p":"topic","pt":"msg","to":"connection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":780,"wires":[["6e816f00.9ad06"]]},{"id":"b19b45eb.9ba578","type":"change","z":"a12ca12a.fe2f8","name":"scaleid","rules":[{"t":"set","p":"topic","pt":"msg","to":"scaleid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":620,"wires":[["6e816f00.9ad06"]]},{"id":"6caef7c8.f86fc8","type":"trigger","z":"a12ca12a.fe2f8","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1560,"y":820,"wires":[["e584b339.1eb03"]]},{"id":"b09e486b.244088","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"5d3f4611.f01608","type":"ui_group","z":"","name":"Real time ","tab":"7ebaee59.b9787","disp":true,"width":22,"collapse":false},{"id":"434eadcd.acab24","type":"mqtt-broker","z":"","name":"pi","broker":"192.168.0.36","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ebaee59.b9787","type":"ui_tab","z":"","name":"Weight Scale ","icon":"dashboard","disabled":false,"hidden":false}]