version 3/flows/noderedflow_client_31-10-2019.json
[{"id":"261423f2.17d6ac","type":"tab","label":"Distributed Storage System - Client","disabled":false,"info":""},{"id":"7c1e1c0c.7aabb4","type":"mysql","z":"261423f2.17d6ac","mydb":"6e0ca01c.18421","name":"","x":412.6000061035156,"y":364.8000545501709,"wires":[["beedb723.6f0f88"]]},{"id":"9f647589.87fca8","type":"function","z":"261423f2.17d6ac","name":"fetch unit weight","func":"\n//var a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number = art$;\";\n//msg.topic = a;\n//return msg;\n\n\nvar a = \"SELECT unit_weight FROM distributedstorage.inventorydb WHERE article_number =\" + msg.payload;\nmsg.topic = a;\nreturn msg;","outputs":1,"noerr":0,"x":176.60000610351562,"y":366.20001220703125,"wires":[["7c1e1c0c.7aabb4"]]},{"id":"3ff61595.5f814a","type":"mqtt in","z":"261423f2.17d6ac","name":"","topic":"inv","qos":"2","datatype":"auto","broker":"827509a9.b34c28","x":85.60000610351562,"y":200.8000030517578,"wires":[["ea127eba.e5add"]]},{"id":"ea127eba.e5add","type":"json","z":"261423f2.17d6ac","name":"","property":"payload","action":"","pretty":false,"x":244.00000381469727,"y":190.00000095367432,"wires":[["20bdb035.b93c4"]]},{"id":"20bdb035.b93c4","type":"function","z":"261423f2.17d6ac","name":"parsing data","func":"\n\nvar msg2 = { payload:msg.payload.weight };\nvar msg1= { payload:msg.payload.waschenklammer };\n\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":408.6667060852051,"y":196.11111545562744,"wires":[["9f647589.87fca8","241b5c79.6e0874"],["d933ebb0.479158"]]},{"id":"793ab09b.c4758","type":"join","z":"261423f2.17d6ac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870.0000076293945,"y":299.00000381469727,"wires":[["f6f7e791.a93ac8"]]},{"id":"beedb723.6f0f88","type":"change","z":"261423f2.17d6ac","name":"unit weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"unit weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":664,"y":369,"wires":[["793ab09b.c4758","da3e11c9.7222a","2e065168.db19ee"]]},{"id":"d933ebb0.479158","type":"change","z":"261423f2.17d6ac","name":"obtained weight","rules":[{"t":"set","p":"topic","pt":"msg","to":"obtained weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":618.0000076293945,"y":264.00000286102295,"wires":[["793ab09b.c4758","ef63b3eb.f9921"]]},{"id":"f6f7e791.a93ac8","type":"function","z":"261423f2.17d6ac","name":"pieces","func":"var ow = msg.payload[\"obtained weight\"];\nvar uw = msg.payload[\"unit weight\"][0].unit_weight;\nvar p = ow/uw;\np = Math.round(p);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":1045.4000396728516,"y":299.00000381469727,"wires":[["da3e11c9.7222a","a3b4f224.b6517","88e7ed41.27b89"]]},{"id":"da3e11c9.7222a","type":"debug","z":"261423f2.17d6ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1222.71435546875,"y":367.71429443359375,"wires":[]},{"id":"c7dc1a8a.c95ee8","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":2,"width":0,"height":0,"name":"Unit weight","label":"Unit weight","format":"{{msg.payload}}","layout":"row-spread","x":1085.0001220703125,"y":473.1429443359375,"wires":[]},{"id":"ef63b3eb.f9921","type":"ui_gauge","z":"261423f2.17d6ac","name":"Current weight","group":"f768ed7a.479fb","order":3,"width":0,"height":0,"gtype":"gage","title":"Current Weight","label":"g","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":932.2858047485352,"y":165.42861938476562,"wires":[]},{"id":"88e7ed41.27b89","type":"ui_chart","z":"261423f2.17d6ac","name":"","group":"f768ed7a.479fb","order":5,"width":0,"height":0,"label":"Inventory level ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1253.7144203186035,"y":235.42868328094482,"wires":[[],[]]},{"id":"a3b4f224.b6517","type":"ui_gauge","z":"261423f2.17d6ac","name":"Number of pieces","group":"f768ed7a.479fb","order":4,"width":0,"height":0,"gtype":"donut","title":"Number of pieces","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1262.8571243286133,"y":295.7143726348877,"wires":[]},{"id":"241b5c79.6e0874","type":"ui_text","z":"261423f2.17d6ac","group":"f768ed7a.479fb","order":1,"width":0,"height":0,"name":"Article number","label":"Article number","format":"{{msg.payload}}","layout":"row-spread","x":634.4285888671875,"y":189.42855834960938,"wires":[]},{"id":"2e065168.db19ee","type":"function","z":"261423f2.17d6ac","name":"unit weight","func":"var uw = msg.payload[0].unit_weight;\nmsg.payload = uw;\nreturn msg;","outputs":1,"noerr":0,"x":877.2858276367188,"y":470.7142639160156,"wires":[["c7dc1a8a.c95ee8"]]},{"id":"6e0ca01c.18421","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"distributedstorage","tz":"UTC"},{"id":"827509a9.b34c28","type":"mqtt-broker","z":"","name":"pi","broker":"192.168.0.36","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f768ed7a.479fb","type":"ui_group","z":"","name":"Weight Scale","tab":"41d4aca1.c6b1b4","disp":true,"width":"6","collapse":false},{"id":"41d4aca1.c6b1b4","type":"ui_tab","z":"","name":"Inventory ","icon":"dashboard","disabled":false,"hidden":false}]